@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');

body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: 'Delicious Handrawn', cursive;
    background-color: pink;
    cursor: pointer;
}

.main {
    top: 0;
    width: 20vw;
    font-size: 25px;
}

.link-container {
    position: absolute;
    top: 20px;
    left: 20px;
    color: black;
}

@media (max-width: 580px) {
    body{
        flex-direction: column;
    }
}


