@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');

body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: 'Delicious Handrawn', cursive;
    background-color: pink;
    cursor: pointer;
}

.main {
    top: 0;
    width: 20vw;
    font-size: 25px;
}

.link-container {
    position: absolute;
    top: 20px;
    left: 20px;
    color: black;
}

p#text {
    display: none;
    position: absolute;
    top: -60px;
    z-index: 1;
    background: #00732c;
    padding: 8px;
    font-size: 1rem;
    color: #fff;
    border-radius: 2px;
    animation: fadeIn 0.6s;

@media (max-width: 580px) {
    body{
        flex-direction: column;
    }
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
   }




